.sign-up-button { 
    grid-area: sign-up-button;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    align-items:center;
    font-size: 18px !important;
    font-weight: 500px !important;
 }

 .the_button {
    border-radius: 20px 20px 20px 20px;
    border: none;
    height: 5vh;
    text-align: center;
    text-decoration: none;
    width: 200%;
    background-color: rgb(50, 115, 255);
    color: white;
    font-size: 23px !important;
    font-weight: 500px !important;
    cursor: pointer;  
    transition-duration: 0.4s;
}
     
  .the_button:hover{
    background-color: white;
    color: rgb(50, 115, 255);
  }

    
