.social-bar { 
    grid-area: social-bar;
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
 }

.facebook {
    height: 500px;
    width: 500px;
    margin-right: 65px;
}

.google {
    height: 400px;
    width: 400px;
    margin-bottom: 45px;
    filter: brightness(1%);
    margin-right: 80px;
    
}

.linkedin {
    height: 500px;
    width: 500px;
    margin-right: 60px;
}

.twitter {
    height: 500px;
    width: 500px;
}
